Vista principal del chat

<p style="border: 1px solid green; background-color: rgb(191, 237, 181);" id="messageContainer"></p>

<input type="text" id="messageInput">
<input type="button" value="Enviar" id="messageButton">


<p style="border: 1px solid red; background-color: rgb(254, 227, 227);" id="notificationContainer"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
<script src="/js/chat.js"></script>
